{% extends "base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "dynamic-forms/macros/form-field.njk" import renderFormField %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
  {{ govukBackLink({
        text: "Back",
        href: "/dynamic-forms"
      }) }}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      {% if error %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: error.errorSummaryList
      }) }}
      {% endif %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <form method="post" action="/dynamic-forms/{{ formId }}?step={{ currentStep }}" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {% for field in formConfig %}
              {% set fieldName = field.name %}
              {% set fieldValue = formData[fieldName] %}
              {% set fieldError = error.inputErrors[fieldName] if error and error.inputErrors %}

              {{ renderFormField(field, fieldValue, fieldError, formData) }}
            {% endfor %}

            <div class="govuk-button-group">
              {% if not isFirstStep %}
                <button type="submit" name="action" value="previous" class="govuk-button govuk-button--secondary">
                Previous
              </button>
              {% endif %}

              {% if isLastStep %}
                <button type="submit" name="action" value="submit" class="govuk-button">
                Submit application
              </button>
              {% else %}
                <button type="submit" name="action" value="next" class="govuk-button">
                Save and continue
              </button>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}